body {
  align-items: center;
  background-color: rgb(204, 201, 201);
  display: flex;
  flex-flow: column wrap;
  font-family: Arial, Helvetica, sans-serif;
  height: 667px;
  width: 375px;
}

h1 {
  color: rgb(123, 39, 180);
}

hr {
  color: rgb(123, 39, 180);
  width: 80%;
}

.menu-list {
  list-style: none;
}

li {
  padding: 5px;
}

a {
  color: black;
  text-decoration: none;
}
